body{
  background-color: rgba(1, 5, 5, 0.938);
  color: #fff;
}
.CRUD{
  width: 90%;
  margin: auto;
} 
h1{
  color: #fff;  
}
p{
  color: #fff;
  font-size: 24;
}
.productPrice{   
  color: #fff;
}
.inputsProduct ,.productTaxes ,.productDisCount ,.btnCreate{
  color: #fff;
  margin: 5px;
}
.cle{
    clear:both;
}
#totalPrice{
  display: inline-block;
  background-color:#a00d02;
  border:1px solid #fff ;
  color: #fff;
  padding: 5px;
  padding-right: 6px;
  width: 150px;
  max-width: 150px !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
} 
#btnCreate ,#productDeleteAll ,.edit ,.delete{
    width: 100%;
    background-color: rgb(46, 5, 121);
    color: #fff;
}
#btnSearchTitle ,#btnSearchCategory{
    width: 40%;
    background-color: rgb(46, 5, 121);
    color: #fff;
}
#totalPrice::before{ 
    content: " Total : ";
}
#error ,#noResults{
    background-color: rgba(255, 0, 0, 0.171);
    font-size: 20px;
    text-align: center;
    padding: 3px;
}
#error{
  opacity: 0;
}
th ,td ,.edit ,.delete{
  max-width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (max-width:569px){
  .CRUD{
    width: 96%;
    margin:initial;
  }
  #btnSearchTitle ,#btnSearchCategory ,#btnCreate ,#productDeleteAll{
    width: 90%;
    margin: auto;
  }
  .inputsProduct{
    width: 100% !important;
    height: 35px;
    padding: 3px;
    border-radius: 2px;
  }
  p{
    font-size: 20;
  }
  th ,td ,.edit ,.delete{
    max-width: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .edit ,.delete{
    max-width: 30px;
  }
  #error ,#noResults{
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
  }
}
@media screen and (min-width:570px) and (max-width:769px) {
  th ,td ,.edit ,.delete{
    max-width: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  #totalPrice{
    width: 150px;
    max-width: 150px !important;
  }
}