body{
background-color: rgba(1, 5, 5, 0.938);
color: #fff;
} 
h1
{
  color: #fff;  
}
p{
  color: #fff;
  font-size: 24;
}
.productPrices{
  margin:10px;   
  color: #fff;
}
.inputsProduct ,.productTaxes ,.productDisCount ,.btnCreate{
  color: #fff;
  margin: 5px;
}
.cle{
    clear:both;
}
#btnTotal{
    margin-top: 5px;
    margin-left: 22px;
    background-color:#a00d02;
    border:1px solid #fff ;
    color: #fff;
    padding: 3px;
    padding-right: 6px;
}
#btnCreate ,#productDeleteAli ,.update ,.delete{
    width: 100%;
    background-color: rgb(46, 5, 121);
    color: #fff;
}
#btnSearchTitle ,#btnSearchCategory {
    width: 40%;
    background-color: rgb(46, 5, 121);
    color: #fff;
}
#btnTotal::before{ 
    content: " Total :  ";
}
#error{
    background-color: rgba(255, 0, 0, 0.171);
    font-size: 15px;
    text-align: center;
    padding: 3px;
    opacity: 0;
}